@{
    ViewData["Title"] = "Ben";
}
<div>
    <img src="~/images/homeProPic4.jpg" class="user" />
</div>
<div class="text-center;">
    <h2>@Model[0].Name</h2>
    <h4><br />      @Model[0].Bio</h4>
    <br />
    <h4>My hobby: @Model[0].HobbyTitle</h4>
    <h5>@Model[0].HobbyDescription</h5>
</div>