@{
    ViewData["Title"] = "Home Page";
}
<body>
    <img src="~/images/Vector1.png" class="bodyBackground1">
    <img src="~/images/Vector2.png" class="bodyBackground2">
    <img src="~/images/Vector3.png" class="bodyBackground3">
    <div class="text-center">
    </div>
    <div class="text-center">
        <h3>Who's hobbies would you like to find out about?</h3>
        <div>
            <ul class="homeName">
                <li class="navItem">
                    <img src="~/images/homeProPic1.jpg" class="user" />
                    <br>
                    <a>Reid Sweeney</a>
                </li>
                <li class="navItem">
                    <img src="~/images/homeProPic2.jpg" class="user" />
                    <br>
                    <a>Jacob Gormly</a>
                </li>
                <li class="navItem">
                    <img src="~/images/homeProPic3.jpg" class="user" />
                    <br>
                    <a>Dev Agrawal</a>
                </li>
                <li class="navItem">
                    <img src="~/images/blakesProPic.jpg" class="user" />
                    <br>
                    <a>Blake Warner</a>
                </li>
                <li class="navItem">
                    <img src="~/images/homeProPic4.jpg" class="user" />
                    <br>
                    <a>Ben Romig</a>
                </li>
            </ul>
        </div>
    </div>
</body>
