@{
    ViewData["Title"] = "Home Page";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
}
<body>
    <img src="~/images/Vector1.png" class="bodyBackground1">
    <img src="~/images/Vector2.png" class="bodyBackground2">
    <img src="~/images/Vector3.png" class="bodyBackground3">

    <img src="~/images/VectorTop1.png" class="bodyBackgroundTop1">
    <img src="~/images/VectorTop2.png" class="bodyBackgroundTop2">
    <img src="~/images/VectorTop3.png" class="bodyBackgroundTop3">

    <div class="text-center">
    </div>
    <div class="centerDiv">
    <div class="text-center">
        <h3>Who's hobbies would you like to find out about?</h3>
        <div>
            <ul class="homeName">
                <li class="navItem">
                    <a asp-area="" asp-controller="Team" asp-action="Blake">
                        <img src="~/images/blakesProPic.jpg" class="user" />
                        <br>
                        Blake Warner
                    </a>
                </li>
                <li class="navItem">
                    <a asp-area="" asp-controller="Team" asp-action="Reid">
                        <img src="~/images/homeProPic1.jpg" class="user" />
                        <br>
                        Reid Sweeney
                    </a>
                </li>
                <li class="navItem">
                    <a asp-area="" asp-controller="Team" asp-action="Jacob">
                        <img src="~/images/homeProPic2.jpg" class="user" />
                        <br>
                        Jacob Gormly
                    </a>
                </li>
                <li class="navItem">
                    <a asp-area="" asp-controller="Team" asp-action="Dev">
                        <img src="~/images/homeProPic3.jpg" class="user" />
                        <br>
                        Dev Agrawal
                    </a>
                </li>
                <li class="navItem">
                    <a asp-area="" asp-controller="Team" asp-action="Ben">
                        <img src="~/images/homeProPic4.jpg" class="user" />
                        <br>
                        Ben Romig
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</body>