@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Group 7's Hobby Presentation.</h1>
    <h3>Our Group Members are:</h3>
    <ul style="list-style-type: none;">
        <li><a>Reid Sweeney</a></li>
        <li><a>Jacob Gormly</a></li>
        <li><a>Dev Agrawal</a></li>
        <li><a>Blake Warner</a></li>
        <li><a>Ben Romig</a></li>
    </ul>
</div>
