@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="header">
        Welcome to Group 7's Hobby Presentation.
    </h1>
    <div>
        <h3>Our Group Members are:</h3>
        <ul style="list-style-type: none; padding-left: 45%; text-align:left">
            <li><a asp-controller="Team" asp-action="Reid">Reid Sweeney</a></li>
            <li><a asp-controller="Team" asp-action="Jacob">Jacob Gormly</a></li>
            <li><a asp-controller="Team" asp-action="Dev">Dev Agrawal</a></li>
            <li><a asp-controller="Team" asp-action="Blake">Blake Warner</a></li>
            <li><a asp-controller="Team" asp-action="Ben">Ben Romig</a></li>
        </ul>
    </div>
</div>
